<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello-Books | User Profile</title>
    <link rel="icon" href="static/images/logo.png" type="image/x-icon">


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/custom.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="../index.html">Hello-Books</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="profile.html">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="history.html">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>                     
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-warning my-2 my-sm-0" type="submit"><i class="icon-search"></i></button>
                    </form>
        </div>
      </div>
    </nav>

<div class="container">
    <div class="block-header">
        <div class='btn-toolbar float-right'>
            <a href="history.html" class="btn btn-warning">Borrowing History <i class="icon-angle-right"></i></a>
        </div>

        <h2 class="mt-5">Profile</h2>
    </div>
    <hr>
    <br>

    <div class="card">
          <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th scope="row">Username</th>
                            <td>
                                Brian Mecha
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>
                            brian@example.com
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
          </div>
        </div>

    <!--BOOKS LOG-->
        <div class="col-lg-12 text-left">
        <h2 class="mt-5">Un-Returned Books</h2>
    </div>
    <hr>
    <br>

    <div class="card">
          <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover " id="unreturnedBooks">
                        <thead class="thead-custom">
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Date Borrowed</th>
                            <th>Date Due</th>
                            <th>Return</th>
                        </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <th>GIT ESSENTIALS</th>
                                <td>Katherine Njine</td>
                                <td>23-06-2018</td>
                                <td>30-06-2018</td>
                                <td>
                                    <a href="#" class="btn btn-sm btn-warning">Return <i class="icon-angle-right"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <th>GIT ESSENTIALS</th>
                                <td>Katherine Njine</td>
                                <td>23-06-2018</td>
                                <td>30-06-2018</td>
                                <td>
                                    <a href="#" class="btn btn-sm btn-warning">Return <i class="icon-angle-right"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>GIT ESSENTIALS</th>
                                    <td>Katherine Njine</td>
                                    <td>23-06-2018</td>
                                    <td>30-06-2018</td>
                                    <td>
                                        <a href="#" class="btn btn-sm btn-warning">Return <i class="icon-angle-right"></i></a>
                                    </td>
                                </tr>
                        </tbody>
                    </table>
              </div>
          </div>
        </div>

</div>
 <!-- Bootstrap core JavaScript -->
 <script src="static/js/jquery.min.js"></script>
 <script src="static/js/bootstrap.bundle.min.js"></script>

 </body>
 </html>