<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Hello-Books | Admin Register</title>
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/custom.css" rel="stylesheet">

</head>
<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
                    <h2 class="text-center text-black mb-4">Hello-Books</h2>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title text-center">Admin Register</h4>
                            <hr>

							<form  form action="#" method="POST">

								<div class="form-group">
									<label for="email">E-Mail Address</label>

									<input id="email" type="email" class="form-control" name="email" value="" required autofocus>
								</div>

								<div class="form-group">
									<label for="password">Password</label>
									<input id="password" type="password" class="form-control" name="password" required>
								</div>

								<div class="form-group">
									<label for="password">Confirm Password</label>
									<input id="confirm_password" type="password" class="form-control" name="confirm_password" required>
								</div>

								<div class="form-group">
									<label>
										<input type="checkbox" name="remember_me"> Remember Me
									</label>
								</div>

								<div class="form-group no-margin">
									<button type="submit" class="btn btn-success">
										Register
									</button>
								</div>
								<div class="margin-top20 text-center">
									Don't have an account? <a href="loginAdmin.html">Login</a>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						Copyright &copy; 2018 | Hello-Books
					</div>
				</div>
			</div>
		</div>
	</section>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/custom.js"></script>
</body>
</html>